# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editors and IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
